snowflake_account =   # The "locator" or full URL ID
snowflake_user = 
snowflake_password = 
snowflake_warehouse =       # The compute engine (must be started)
snowflake_database =          # The container for your data
snowflake_schema =                 # The namespace within the DB
snowflake_role =          # Optional: Specify your security role