# Snowflake connection parameters
SNOWFLAKE_ACCOUNT =   # The "locator" or full URL ID
SNOWFLAKE_USER = 
SNOWFLAKE_PASSWORD = 
SNOWFLAKE_WAREHOUSE = COVID19_PROJECT3      # The compute engine (must be started)
SNOWFLAKE_DATABASE = COVID19_DB      # The container for your data
SNOWFLAKE_SCHEMA = bronze              # The namespace within the DB
SNOWFLAKE_ROLE =        # Optional: Specify your security role

# CDC Covid API parameters
CDC_COVID_API_ENDPOINT = https://data.cdc.gov/resource/n8mc-b4w4.json
CDC_COVID_API_KEY_ID = 
CDC_COVID_API_KEY_SECRET = 
CDC_COVID_API_APP_TOKEN = 
CDC_COVID_API_SECRET_TOKEN = 

# Census API parameters
CENSUS_API_URL=https://api.census.gov/data/2023/acs/acs5/profile
CENSUS_API_KEY=